.hidden{
    display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:  #fff;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6,
 p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

image {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
    
}
address {
    font-style: normal;
}

/* -----common---- */
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
      }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
      }
}
/* ----header---- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.header-menu-list,
.contacts{
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.header-logo-studio {
    color: #2e2f42;
}

.header-navigatoin {
   margin-right: auto;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-humburger{
    fill: #2f2f37;
    display: block;
}
/*-----mobail------*/

@media screen and (min-width: 768px) {
    .mobail-menu {
        display: none;
      }
}
.mobail-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    position: none;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

.conteiner-mobail-menu{
    padding-top: 72px;
    padding-bottom: 40;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
   
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigatoin-mobail{
    margin-bottom: auto;
}

.modal-close-btn-mobail {
    margin-bottom: 24px;
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 0;
     cursor: pointer;
     border: 1px solid  rgba(0, 0, 0, 0.1);
     background-color:#8995fb;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     background-color: #e7e9fc;
 }
 .modal-close-btn-mobail:hover,
 .modal-close-btn-mobail:focus {
     background-color: #404bbf;
     border: none;
     fill: #ffffff;
 }

 .modal-close-btn-mobail:hover > .modal-close-icon
.modal-close-btn-mobail:focus > .modal-close-icon {
    fill: #FFFFFF;

}
.modal-close-icon-mobail {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-link{
    gap: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.blue{
    color: #404bbf;
}

.list-mobile{
    margin-bottom: 174px;
}

.contacts-mobail{
    margin-bottom: 40px;
}

.contacts-link-mobail{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team-icons-lis-mobail{
    display: flex;
    gap: 24px;
    
}

.our-team-icons-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
   
}

.team-item-icon{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.team-item-icon:hover,
.team-item-icon:focus{
    background-color: #404bbf; 
}

.team-icon{
    fill: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    
}

.mobail-icon{
    margin-bottom: 40px;
}
/*----- end mobail------*/

@media screen and (min-width: 768px){
    .burger-btn{
        display: none;
    }

    .header-navigatoin {
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: 40;
    }

    .header-logo{
        margin-right: 120px;
        padding: 24px 0;
    }
    .header-logo-studio {
        color: #2e2f42;
    }
    
    .header-menu-list a {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        
        position: relative;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;       
    }

    .header-menu-list a:hover,
.header-menu-list a:focus {
    color: #404bbf;
}

.header-menu-list:first-child{
    position: relative;
    color: #404bbf;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.studi::after{
    content: '' ;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
}    
    
.header-menu-list {
    display: flex;
    gap: 40px;
}
.contacts {
    display: block;
    font-style: normal; 
}

.contacts-list{
    display: flex;
   flex-direction: column;
    gap: 12px;   
}

.contacts-link{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:focus,
.address:hover {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px){
    .header-logo{
        margin-right: 76px;
    }

    .contacts-list{
        display: flex;
       flex-direction: row;
        gap: 40px;   
    }

    .contacts-link{
        padding: 24px 0;
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* -----Hero----- */
.hero {
     
    background-color: #2e2f42;
    padding: 72px 0;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_mob1-min.jpg);

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
  
 
}
@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
	background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/Dark-bg_mob2-min.jpg);
	}
	}

.hero-title {
    max-width: 216px;
    margin: 0 auto;   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;   
}


.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5; 
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;

}

@media screen and (min-width: 768px){
    .hero{
        padding: 112px 0;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_tab1-min.jpg);
    }
    .hero-title{
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }
    @media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero-wrap {
	background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/Dark-bg_tab2-min.jpg);
	}
	}
}

@media screen and (min-width: 1158px){
    .hero{
        
        padding: 188px 0;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office1_1x-min.jpg);
    }
    @media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero-wrap {
	background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/people-office1_2x-min.jpg);
	}
	}
    
    .hero-title{
        margin-bottom: 48px;
    }
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .hero-wrap {
        padding-top: 188px;
        padding-bottom: 188px;
       
    }
    
    .hero-title {
        max-width: 496px;  
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
       /*  background: #2e2f42; */
        margin-bottom: 32px;   
    }
}

/* -----categories----- */
.categories{
    padding: 96px 0;
   
 
 }
 .categories-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
 }
 .categories-item{ 
    margin-bottom: 0;
    max-width: 100%;
 }
 .conteiner-categories-icon{
    display: none;
 }
.categories-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.categories-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px){

.categories-list {
    background-color: #FFFFFF;
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    margin: 0 auto;
    
}
.categories-subtitle{
    text-align: left;
}

.categories-item {
    width: calc((100% - 1 * 24px) / 2);
 }
}


@media screen and (min-width:1158px){
.categories {
    padding: 120px 0;
    
}

.categories-subtitle {
    font-weight: 500;
    font-size: 20px;

}
.categories-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.conteiner-categories-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99; 
    margin-bottom: 8px;
}

.categories-item {
   width: calc((100% - 3 * 24px) / 4);
 
}

.categories-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

}
/*-----team-----*/
.team {
    background-color: #F4F4FD;
    padding: 96px 0; 
    margin: 0 auto;

  
}

.team-list {
    display: flex;
    gap: 72px;  
    flex-wrap: wrap; 
    align-content: center;   
    justify-content: center;
}

.team-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-contant {
    padding: 32px 0;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
   
    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.team-item-icon {
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-item-icon:hover,
.team-item-icon:focus{
    background-color: #404bbf; 
}

.team-icon{
    fill: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    
}

.our-team-icons-list{
    gap: 24px;
    display: flex;
    justify-content: center;
}

.our-team-icons-item{
    align-items: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
}

.team-item-icon{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-subtitle {
  
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;  
    margin-bottom: 8px;

}
.team-text {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
  
}
@media screen and (min-width: 768px){
    .team{
        width: 584px;  
    }
    .team-list {
        display: flex;
        gap: 24px;
        margin:0 auto;
        align-content: center;
        justify-content: center;
     }
    .team-item{
        width: calc((100% - 1 * 24px) / 2);
      

    } 
    .team-images{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 1158px){
    .team {
        padding: 120px 0; 
        width: auto;
    }
    
    .team-list {
        display: flex;
        gap: 24px;   
    }
    .team-item{
        width: calc((100% - 3 * 24px) / 4);;
        max-width:264;

    } 
}
/* =============portfolio======== */
.our-portfolio{
    padding: 96px 0;   
    margin: 0 auto;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-content: center; 
}
.portfolio-imeges-conteiner{
    position: relative;
    overflow: hidden; 
}
.portfolio-imeges-text{
    font-weight: 400;
    font-size: 16px;
    
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px 164px;
    background: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 40px 32px;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-item:hover .portfolio-imeges-text{
    transform: translateY(0);
}
.portfolio-item{

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-contant {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;

}

.portfolio-title{
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.portfolio-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



@media screen and (min-width: 768px){
    .portfolio-item {
        width: calc((100% - 1 * 24px) / 2);
        
    } 
    .portfolio-list{
        display: flex;
        gap: 24px;
        margin: 0 auto; 
        
    }
    .our-portfolio {
        padding-bottom: 120px;
        padding-top: 120px;
    } 
    .portfolio-item {
    
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
        
    }
    .portfolio-item:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-list {
        display: flex;
        column-gap: 24px;
        row-gap: 48px; 
        flex-wrap: wrap;
    }

}
@media screen and (min-width: 1158px){
    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }  

}

/* =========foter========= */

.footer{
    background: #2e2f42;
    padding: 96px 0;
    margin: 0 auto;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-left: 16px;
    padding-left: 16px;
    justify-content: center;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-bottom: 16px;  
    display: flex;
    justify-content: center;
}
.footer-text { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo-studio {
    color: #f4f4fd;
}

.footer-social-text{
    font-weight: 500;
    font-size: 16px;  
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF ;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.footer-icons-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

}
.footer-icons-item{
    width: 40px;
    height: 40px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon{
    
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus{
    background-color: #31d0aa;
}
.footer-icon{
    fill:#f4f4fd;
}

.subscribe-footer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.footer-social-text{
    display: flex;
    justify-content: center;
}

.footer-input{
    border: 1px solid #ffffff;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.footer-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;

    width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    border: none; 
}
.icon-footer-subscribe{
    margin-left: 16px; 
}
.icon-footer-subscribe-use{
    fill: #fff;}


@media screen and (min-width: 768px){
    .footer-input{
        width: 264px;
    }
    .footer-container{

        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .footer-logo{
        display: inline-block;
        margin-bottom: 16px; 
    }
    .footer-text {
        max-width: 264px;
    }
    .footer-icons-list{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
    
    }
    .footer-social-text{
        display: flex;
        justify-content: flex-start;
    }
    .subscribe-footer-form{
        display: flex;
        gap: 24px;
    }
}
@media screen and (min-width: 1158px){
    .footer-container{
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        padding: auto 0;

    }
    .footer{
        padding: 100px 0;
    }
    .footer-logo-text{
       max-width: 264px;
    }
    .subscribe-footer-form{
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }
    .footer-text {
   
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
    }
    .footer-social-text{
        font-weight: 500;
        font-size: 16px;
        
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF ;
       
        margin-bottom: 16px;
    }

}
/* ------backdroup------ */



    .backdroup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        position: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .modal {
        margin-left: auto;
        margin-right: auto;
        padding: 72px 16px 16px 16px;
        width: 288px;
        min-height: 623px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-close-btn {
       margin-bottom: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        border: 1px solid  rgba(0, 0, 0, 0.1);
        background-color:#8995fb;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #e7e9fc;
    }
    .modal-close-btn:hover,
    .modal-close-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }
    
    .modal-close-btn:hover > .modal-close-icon
    .modal-close-btn:focus > .modal-close-icon {
        fill: #FFFFFF;
    
    }
    .modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .review-form-description {
        max-width: 360px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
        
     
        
    }
    
    .review-form-wrapper{
        margin-bottom: 8px; 
    }
    
/*--    .review-form {
     
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
    }
        --*/
    
    .review-form-lable {
        display: block;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    .review-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px; 
        margin-bottom: 8px;
        padding-left: 38px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent; 
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .review-form-input:focus{
        border-color: #4d5ae5;
        
    }
    
    .review-form-input:focus + .form-icons{
        fill: #4d5ae5;
    }
    
    .form-wraper-input-icon{
        position: relative;
    }
    
    .form-icons{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }  
    
    .review-form-textarea{
        width: 100%;
        height: 120px; 
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4); 
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px; 
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .review-form-textarea:hover,
    .review-form-textarea:focus{
        border-color: #4D5AE5;
    }
    
    .textarea-form{
        margin-bottom: 16px;
    }
    
    .review-form-checkbox-wraper{
        margin-bottom: 24px;
  
    }
    
    .review-form-checkbox:checked + .review-form-checkbox-lable > .custom-checkbox{
        fill: #f4f4fd;
        border: none;
        background-color: #404bbf;
        
    }
    .review-form-checkbox-lable {
        
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }

    .custom-checkbox {
        
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .privacy-policy-link {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        
    }
    
    .btn-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .review-form-btn{
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
    }
    
    .review-form-btn:hover,
    .review-form-btn:focus{
        background-color: #404bbf;
    }
    @media screen and (min-width: 768px){
        .modal {
            padding: 72px 24px 24px 24px;
            width: 408px;
            min-height: 584px;
    }
}
